@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-bottom
      &__slider
        width: 590px
      &__img
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .cards-hotels
    grid-template-columns: repeat(3, 1fr)
    &__item
      width: 100%
    &__descp
      margin: 20px 0 27px 0
    &__more
      &--one
        margin-top: 37px
  .footer
    &__wrapper
      grid-template-columns: 220px 200px 270px 200px
    &-info
      &__block
        margin-right: 200px
@media (max-width: 992px)
  .container, .newsletter__wrap
    max-width: 700px
  .horizontal-logo
    img
      width: 132px
  .navbar
    &-top
      padding: 30px 0
    &-menu
      max-width: 95%
      margin: 0 auto
      &__link
        font-size: 12px
        line-height: 15px
    &-bottom
      padding: 22px 0
    &__search
      margin-left: 50px
  .search
    &__input
      width: 340px
  .hotel
    &-bottom
      flex-direction: column
      &__img
        width: 100%
      &__slider
        width: 100%
      &__card
        margin-top: 30px
    &-card
      flex-direction: row
      width: 100%
      &__info
        width: 340px
        padding-right: 20px
      &__button
        margin-top: 15px
    &-booking
      &__text, &__number
        line-height: 18px
    &-map
      width: 340px
  .newsletter
    &__wrap
      padding: 75px 0
  .reviews
    padding-bottom: 60px
    &-title
      font-size: 30px
    &-slider
      &__wrap
        margin-top: 88px
      &__item
        max-width: 579px
        padding: 50px 64px 30px 60px
        &::after,&::before
          display: none
      &__button
        // top: 50%
        // transform: translateY(-50%)
        &--prev
          left: 0
        &--next
          right: 0
  .activities
    padding-bottom: 73px
    &__cards
      flex-wrap: wrap
      grid-gap: 25px
  .card
    flex-basis: 48%
    height: 250px
  .packages
    &__title
      font-size: 30px
  .cards-hotels
    grid-template-columns: repeat(2, 1fr)
    &__item
      width: 100%
    &__more
      &--one
        margin-top: 52px

  .footer
    padding-top: 73px
    padding-bottom: 33px
    &__wrapper
      grid-template-columns: 170px 260px 200px
      grid-auto-rows: minmax(100px, min-content)
      justify-content: space-between
      grid-row-gap: 60px
    &__logo
      align-self: self-start
      grid-column: 1
      img
        max-width: 104px
    &__social
      grid-row: 1
      grid-column: 2 / 5
    &__categories
      grid-row: 2 / 3
      grid-column: 1 / 2
    &__additional
      grid-row: 2 / 3
      grid-column: 2 / 3
    &__legal
      grid-row: 2 / 3
      grid-column: 3 / 4
    &__contact
      &-details
        grid-row: 3 / 4
        grid-column: 1 / 4
    &__send
      &-form
        grid-row: 4 / 5
        grid-column: 1 / 4
        max-width: 539px
        margin-bottom: 56px
    &__infomation
      justify-content: space-between
      margin-top: 0
    &-info
      &__block
        margin-right: 0
  .modal
    max-height: 95%
    overflow-y: scroll
@media (max-width: 768px)
  .container, .newsletter__wrap
    max-width: 567px
    width: 90%
    position: relative
  body
    padding-top: 78px
  .navbar
    position: fixed
    background-color: #fff
    top: 0
    left: 0
    right: 0
    z-index: 109
    &__search
      margin: 0 0 19px 0
      padding: 0
      &--mobile
        &--hidden
          display: none
    &__user
      &--mobile
        &--hidden
          display: none
      &--white-color
        color: #fff
        flex-direction: column
        margin-bottom: 7px
    &-bottom
      height: 100vh
      overflow-y: scroll
      &--hidden
        display: none
      &--visible
        display: block
    &-burger
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      background-color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $dark
    &-menu
      flex-direction: column
      align-items: center
      padding: 31px 37px 68px 37px
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .search
    &__input
      width: 245px
  .user
    &__name
      margin: 10px 0 0 0
  .hotel
    &__top
      position: relative
    &__info
      padding: 35px 0 20px 0
    &__block
      position: static
    &__offer
      left: 0
    &__star
      position: absolute
      right: 0
      top: 5px
    .swiper
      max-height: 300px
    &-card
      flex-direction: column
      width: 100%
      margin-top: 0
      &__info
        width: 100%
        margin: 20px 0
    &-map
      width: 100%
  .newsletter
    &__wrap
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__button
        top: 85px
        &--prev
          left: 30%
        &--next
          right: 30%
  .activities
    &__cards
      grid-gap: 20px
  .card
    &-title
      max-width: 85%
  .cards-hotels
    &__item
      height: 400px
    &__descp
      font-size: 12px
      margin: 0 0 24px 0
    &__img
      height: 200px
      &--one
        height: 100%
    &__info
      padding: 20px 11px 15px 22px
    &__title
      margin-bottom: 10px
    &__more
      margin-top: 14px
      &--one
        margin-top: 28px
    &__pricetag
      &--old
        font-size: 12px
      &--new
        font-size: 18px
    &__btn
      padding: 8px 17px
  .footer
    &__wrapper
      grid-template-columns: repeat(6, 1fr)
    &__social
      grid-column: 3 / 7
    &__categories
      grid-column: 1 / 3
    &__additional
      grid-column: 3 / 5
    &__legal
      grid-column: 5 / 7
    &__contact
      &-details
        grid-column: 1 / 7
    &__send
      &-form
        grid-column: 1 / 7
@media (max-width: 600px)
  .reviews
    &-slider
      &__button
        &--prev
          left: 25%
        &--next
          right: 25%
  .cards-hotels
    &__more
      &--one
        margin-top: 14px
@media (max-width: 576px)
  .hotel
    &__rattings
      display: none
  .slider
    &-button
      width: 11px
      height: 12px
      background-size: 5px
      &--prev
        left: 6px
      &--next
        right: 6px
  .swiper
    &-hotel
      height: 179px
  .reviews
    &-title
      font-size: 25px
    &-slider
      &__text
        text-align: left
    &-button
      &__prev
        left: 25%
      &__next
        right: 25%
  .card
    flex-basis: 100%
    &__image
      width: 100%
  .packages
    &__title
      font-size: 25px
  .cards-hotels
    grid-template-columns: repeat(1, 100%)
    grid-gap: 30px 0
    &__item
      width: 100%
      &--one
        grid-column-start: 1
        grid-column-end: 1
        flex-direction: column
    &__descp
      display: none
    &__star
      display: none
    &__img
      &--one
        height: 200px
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &__wrapper
      grid-template-columns: repeat(1, 1fr)
      grid-row-gap: 30px
    &__logo
      img
        width: 104px
    &__social
      grid-column: 1 / 2
      grid-row: 2 / 3
      flex-direction: column
      align-items: start
      justify-content: center
    &__title
      &--mb-2
        margin-bottom: 20px
    &__categories
      grid-column: 1 / 3
      grid-row: 5 / 6
    &__additional
      grid-column: 1 / 5
      grid-row: 4 / 5
    &__legal
      grid-column: 1 / 7
      grid-row: 3 / 4
    &__contact
      &-details
        grid-column: 1 / 7
        grid-row: 6 / 7
    &__send
      &-form
        grid-column: 1 / 7
        grid-row: 7 / 8
    &__title
      margin-bottom: 15px
    &__input
      &-group
        flex-basis: 100%
    &__message
      margin-bottom: 15px
    &__required
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 2
    &__infomation
      margin-top: 30px
  .modal
    padding: 10px 15px
    width: 90%
    max-height: 95%
    top: 10px
    left: 50%
    transform: translateX(-50%)
    overflow-y: scroll
    &__input
      height: 40px
    &__button
      order: 2
      padding: 15px 65px
    &__required
      display: block
      margin-top: 10px
    &__message
      height: 80px
@media (max-width: 480px)
  .newsletter
    &__wrap
      padding: 73px 0 83px 0
    &__search
      width: 280px
  .packages
    &__title
      font-size: 18px
  .reviews
    padding-bottom: 50px
    &-title
      max-width: 245px
      margin: auto
      line-height: 23px
    &-slider
      &__button
        &--prev
          left: 15%
        &--next
          right: 15%
      &__item
        padding-left: 34px
        padding-right: 30px
        padding-bottom: 36px
    &-title
      font-size: 18px
  .activities
    padding-top: 1px
    &__cards
      margin-top: 36px
    &-title
      font-size: 18px
  .footer
    &__infomation
      flex-direction: column
    &-info
      &__block
        margin-bottom: 10px
