@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-bottom
      &__slider
        width: 590px
      &__img
        height: 100%
        object-fit: cover
@media (max-width: 992px)
  .container
    max-width: 700px
  .horizontal-logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &-menu
      max-width: 95%
      margin: 0 auto
      &__link
        font-size: 12px
        line-height: 15px
    &-bottom
      padding: 22px 0
    &__search
      margin-left: 47px
  .search
    &__input
      width: 340px
  .hotel
    &-bottom
      flex-direction: column
      &__img
        width: 100%
      &__slider
        width: 100%
      &__card
        margin-top: 30px
    &-card
      flex-direction: row
      width: 100%
      &__info
        width: 340px
    &-map
      width: 340px
@media (max-width: 768px)
  .container
    max-width: 567px
    width: 90%
  .navbar
    &-bottom, &__user, &__search
      display: none
    &-burger
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      background-color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $dark
  .hotel
    &__top
      position: relative
    &__info
      padding: 35px 0 20px 0
    &__block
      position: static
    &__offer
      left: 0
    &__star
      position: absolute
      right: 0
      top: 5px
    .swiper
      max-height: 300px
    &-card
      flex-direction: column
      width: 100%
      margin-top: 0
      &__info
        width: 100%
        margin: 20px 0
    &-map
      width: 100%
@media (max-width: 576px)
  .hotel
    &__rattings
      display: none
  .slider
    &-button
      display: none
  .swiper
    height: 179px
