@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-bottom
      &__slider
        width: 590px
      &__img
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .cards-hotels
    grid-template-columns: repeat(2, 1fr)
    &__item
      width: 100%
@media (max-width: 992px)
  .container, .newsletter__wrap
    max-width: 700px
  .horizontal-logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &-menu
      max-width: 95%
      margin: 0 auto
      &__link
        font-size: 12px
        line-height: 15px
    &-bottom
      padding: 22px 0
    &__search
      margin-left: 47px
  .search
    &__input
      width: 340px
  .hotel
    &-bottom
      flex-direction: column
      &__img
        width: 100%
      &__slider
        width: 100%
      &__card
        margin-top: 30px
    &-card
      flex-direction: row
      width: 100%
      &__info
        width: 340px
    &-map
      width: 340px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        max-width: 579px
        padding: 50px 64px 30px 60px
    &-button
      // top: 50%
      // transform: translateY(-50%)
      &__prev
        left: 0
      &__next
        right: 0
  .activities
    &__cards
      flex-wrap: wrap
      grid-gap: 25px
  .card
    flex-basis: 48%
    height: 250px
  .reviews
    &-slider
      &__item
        &::after,&::before
          display: none

    &-title
      font-size: 30px

@media (max-width: 768px)
  .container, .newsletter__wrap
    max-width: 567px
    width: 90%
  .navbar
    &-bottom, &__user, &__search
      display: none
    &-burger
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      background-color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $dark
  .hotel
    &__top
      position: relative
    &__info
      padding: 35px 0 20px 0
    &__block
      position: static
    &__offer
      left: 0
    &__star
      position: absolute
      right: 0
      top: 5px
    .swiper
      max-height: 300px
    &-card
      flex-direction: column
      width: 100%
      margin-top: 0
      &__info
        width: 100%
        margin: 20px 0
    &-map
      width: 100%
  .newsletter
    &__wrap
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__button
        top: 85px
        &--prev
          left: 30%
        &--next
          right: 30%
  .activities
    &__cards
      grid-gap: 20px
  .card
    &-title
      max-width: 85%
  .cards-hotels
    &__item
      height: 400px
    &__descp
      font-size: 12px
      margin: 0 0 24px 0
    &__img
      height: 200px
      &--one
        height: 100%
    &__info
      padding: 20px 11px 15px 22px
    &__title
      margin-bottom: 10px
    &__more
      margin-top: 14px
    &__pricetag
      &--old
        font-size: 12px
      &--new
        font-size: 18px
    &__btn
      padding: 8px 17px
@media (max-width: 600px)
  .reviews
    &-slider
      &__button
        &--prev
          left: 25%
        &--next
          right: 25%
@media (max-width: 576px)
  .hotel
    &__rattings
      display: none
  .slider
    &-button
      width: 11px
      height: 12px
      background-size: 5px
      &--prev
        left: 6px
      &--next
        right: 6px
  .swiper
    &-hotel
      height: 179px
  .reviews
    &-title
      font-size: 25px
    &-slider
      &__text
        text-align: left
    &-button
      &__prev
        left: 25%
      &__next
        right: 25%
  .card
    flex-basis: 100%
    &__image
      width: 100%
  .packages
    &-title
      font-size: 25px
  .cards-hotels
    grid-template-columns: repeat(1, 100%)
    grid-gap: 30px 0
    &__item
      width: 100%
      &--one
        grid-column-start: 1
        grid-column-end: 1
        flex-direction: column
    &__descp
      display: none
    &__star
      display: none
    &__img
      &--one
        height: 200px

@media (max-width: 480px)
  .newsletter
    &__wrap
      padding: 73px 0 83px 0
    &__search
      width: 280px
  .packages
    &-title
      font-size: 18px
  .reviews
    padding-bottom: 50px
    &-title
      max-width: 245px
      margin: auto
      line-height: 23px
    &-slider
      &__button
        &--prev
          left: 15%
        &--next
          right: 15%
      &__item
        padding-left: 34px
        padding-right: 30px
        padding-bottom: 36px
    &-title
      font-size: 18px
  .activities
    padding-top: 1px
    &__cards
      margin-top: 36px
    &-title
      font-size: 18px
