.hotel
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: flex
    flex-direction: column
  &__star
    margin-bottom: 4px
  &__title
    margin: 0
    padding: 0
    flex-basis: 50%
    display: inline-block
    margin-bottom: 4px
    margin-right: 14px
    font-size: 24px
    line-height: 30px
    font-weight: 700
  &__subtitle
    font-size: 12px
    line-height: 15px
  &__block
    position: relative
  &__offer
    position: absolute
    top: 5px
    width: 70px
    height: 20px
    font-size: 10px
    padding: 4px 9px
    border-radius: 3px
    background-color: $primary
    color: #fff
    flex-basis: 50%
  &__rattings
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 4px
    background-color: $primary
    color: #fff
    padding: 7px 6px
  &__user-ratting
    font-weight: 600
    font-size: 8px
    line-height: 10px
    margin-bottom: 2px
  &__num
    font-size: 14px
    line-height: 18px
    font-weight: 700
    &_size
      &_s
        font-size: 10px
